body{
background-color:white ;
}
#red{
    background-color:red ;
}
#yellow{
    background-color: yellow;
}
#brown{
    background-color: brown;
}
#green{
    background-color: green;
}
#purple{
    background-color:purple;
}    
#orange{
    background-color: orange;
}
#maroon{
    background-color:maroon;
}
#pink{
    background-color: pink;
}
#lime{
    background-color: lime;
}
#blue{
    background-color: blue;
}
#voilet{
    background-color: violet;
}

#darkgreen{
    background-color: darkgreen;
}
#gray{
    background-color: gray;
}
body{
    background-color: white;
}
#darkred{
    background-color:darkred;
}
#red{
    background-color: red;
}
#lightsalmon{
    background-color:lightsalmon;
}
#darksalmon{
    background-color: darksalmon;
}
#firebrick{
    background-color: firebrick;
}
#tomato{
    background-color:tomato ;
}
#orangered{
    background-color:orangered
}
#maroon{
    background-color: maroon;
}
#lightcoral{
    background-color:lightcoral;
}
#crimson{
    background-color: crimson;
}   
#lavender{
    background-color: lavender;
}
#thistle{
    background-color: thistle;
}
#voilet{
    background-color: violet;
}
#plum{
    background-color: plum;
}
#orchid{
    background-color: orchid;
}
#fucshia{
    background-color: fuchsia;
}
#magneta{
    background-color: magenta;
}
#mediumorchid{
    background-color:mediumorchid;
}
#mediumpurple{
    background-color:mediumpurple;
}
#darkorchid{
    background-color:darkorchid;
}
#darkmagneta{
    background-color: darkmagenta;
}
#limegreen{
    background-color: limegreen;
}
#lawngreen{
    background-color: lawngreen;
}
#lime{
    background-color: lime;
}
#lightgreen{
    background-color:lightgreen;
}
#darkgreen{
    background-color: darkgreen;
}
#springgreen{
    background-color: springgreen;
}
#darkseagreen{
    background-color: darkseagreen;
}
#lightseagreen{
    background-color: lightseagreen;
}
#palegreen{
    background-color: palegreen;
}
#olive{
    background-color: olive;
}

}